{% extends "layout.html" %}
{% block body %}
<div class="container">
	<div>
		
		<!-- <center> -->
			<br><br>
			<div class="well row"  style = "background-color:lightblue">
				<h1>PYTHON</h1>
				<form action="/python" method="POST">
					<input type="submit" value="Start Lesson"/>
				</form>
			
			</div>
			<br><br>
			
			<div class="well row"  style = "background-color:lightblue">
				<h1>MACHINE LEARNING</h1>
				<form action="/python" method="POST">
					<input type="submit" value="Start Lesson" />
				</form>
			</div>
			<br><br>

			<div class="well row"  style = "background-color:lightblue">
				<h1>WEB PROGRAMMING</h1>
				<form action="/python" method="POST">
					<input type="submit" value="Start Lesson" />
				</form>
			</div>
			<br><br>
			<div class="well row"  style = "background-color:lightblue">
				<h1>JAVA</h1>
				<form action="/python" method="POST">
					<input type="submit" value="Start Lesson" />
				</form>
			</div>
			<br><br>
	</div>
</div>
{% endblock %}