{% extends "layout.html" %}
{% block body %}

    {% if not session.logged_in %}
    	<h2  style = "background-color:linear-gradient(to bottom right, lightblue,white);font-size: 10px;">Log in to post your own blog</h2>
	{% else %}
		<a href="/postBlog"><button style="font-size: 20px;" type="button" class="btn btn-primary btn-lg btn-block">Click here to Post new blog!</button></a>
	{% endif %}
	<br><br>
	{% for blog in blogs_so_far %}
		<div class="well" style = "background-color:linear-gradient(to bottom right, lightpink,white); font-size: 20px;">
		    <div class="row">
				<div class="col-md-8" style ="font-size: 20px;">
					Posted by:
					{{ blog.blog_postedBy }}
				</div>
				<div class="col-md-4">
					{{ blog.blog_postedAt }}
				</div>
		    </div>
		<!-- </div> -->

		<!-- <div class="well" style = "background-color:linear-gradient(to bottom right, lightpink,white); font-size: 20px;"> -->
			<br>
		    <div class="container">
				<div class="container">
					<div class="col-md-8" font-size: 20px;">
						Title:
						{{ blog.blog_Title }}
					</div>
				</div>

				<div class="container">
					<div class="col-md-10" style="font-size:20px;">
						Message:
						{{ blog.blog_Message }}
					</div>
		    	<!-- </div> -->
		    		{% if session.logged_in %}
			    	<form action="{{ url_for('forums') }}" method="post">
		    		<div class="col-md-2">
		    			<div class="container">
		    				<input type="radio" name="vote" value="{{blog.sno}} upvote"> <img src="https://i.redd.it/22uasph7vxvy.png" width="20" height="20" alt="upvote">
		    			</div>
		    			<!-- <div class="row"> -->
		    				Votes: {{ blog.blog_likes }}
		    			<!-- </div> -->
		    			<div class="container">
		    				<input type="radio" name="vote" value="{{blog.sno}} downvote"> <img src="https://i.redd.it/22uasph7vxvy.png" width="20" height="20" alt="upvote" style="transform: rotate(180deg);">
							<br>
		    			</div>
		    			<div class="container">
							<div style = "font-size: 10px;">
		    					<br>
		    					<input type="submit" class="btn btn-primary">
							</div>
		    			</div>
		    		</div>
			    	</form>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}