{% extends "layout2.html" %}
{% block body %}

<!-- <div class="well"> -->
	<form action="{{ url_for('java') }}" method="post" style = "background-color:#fff2cc;margin: #ff80ff; border-radius: 5px;margin-top: 120px;margin-right:120px">
		
		{% if path == "java_Lesson/1/5" %}
		<!-- <div class="col-md-4">

		</div> -->
		<div class="col-md-12">
			<br>
			<center>
				<video width = "700" height = "500" controls="controls">
					<source src={{ url_for('static', filename=name) }} type = "video/mp4"/>
					</source>
				        This browser doesn't support video tag.
				</video>
			</center>
		</div>
		<div >
			<center>
				<br><br>
				<a href="mailto:test@test.test?body=Link goes here http%3A%2F%2F127.0.0.1:{{port}}/{{path}}">
					<img src="{{url_for('static',filename='gshare.png')}}" style="height:40px;width:60px;">
					<!-- <img src="{{url_for('static',filename='index.png')}}" style="height:50px;width:40px;margin-right:500px"> -->
				</a>
				<!-- </a> -->
				<!-- https://www.facebook.com/sharer.php?u=http://127.0.0.1:7241/java -->
				<a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2F127.0.0.1:{{port}}/{{path}}">
					<img src="{{url_for('static',filename='share.jpg')}}" style="height:40px;width:60px;">
					<!-- <img src="{{url_for('static',filename='index.png')}}" style="height:50px;width:40px;margin-right:500px"> -->
				</a>
				<br><br>
				<br><br>
			</center>
			<div>
				<center>
				<a href="/java" style="margin-right:100px" class="previous">&laquo; Previous</a>
				<a href="/java_Lesson/1/6" style="margin-left:100px" class="next">Next &raquo;</a>
				</center>
				<!-- <a href="#" class="previous round">&#8249;</a>
				<a href="#" class="next round">&#8250;</a> -->
			</div>
		</div>
		{% endif%}

		{% if path == "java_Lesson/1/6" %}
		<!-- <div class="col-md-4">

		</div> -->
		<div class="col-md-12">
			<br>
			<center>
				<video width = "700" height = "500" controls="controls">
					<source src={{ url_for('static', filename=name) }} type = "video/mp4"/>
					</source>
				        This browser doesn't support video tag.
				</video>
			</center>
		</div>
		<div >
			<center>
				<!-- <br><br> -->
				<a href="mailto:test@test.test?body=Link goes here http%3A%2F%2Fhttps://limitless-ridge-24700.herokuapp.com/{{port}}/{{path}}">
					<img src="{{url_for('static',filename='gshare.png')}}" style="height:40px;width:60px;">
					<!-- <img src="{{url_for('static',filename='index.png')}}" style="height:50px;width:40px;margin-right:500px"> -->
				</a>
				<!-- </a> -->
				<!-- https://www.facebook.com/sharer.php?u=http://127.0.0.1:7241/java -->
				<a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fhttps://limitless-ridge-24700.herokuapp.com/{{port}}/{{path}}">
					<img src="{{url_for('static',filename='share.jpg')}}" style="height:40px;width:60px;">
					<!-- <img src="{{url_for('static',filename='index.png')}}" style="height:50px;width:40px;margin-right:500px"> -->
				</a>
				<!-- <br><br> -->
				<!-- <br><br> -->
			</center>
			<div>
				<center>
				<a href="/java_Lesson/1/5" style="margin-right:100px" class="previous">&laquo; Previous</a>
				<a href="/java_Lesson/1/#" style="margin-left:100px" class="next">Next &raquo;</a>
				</center>
				<!-- <a href="#" class="previous round">&#8249;</a>
				<a href="#" class="next round">&#8250;</a> -->
			</div>
		</div>

		{% endif%}
	</form>
{% endblock %}