<!DOCTYPE html>
<html lang="en">
<head>
      <title>eCourses</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">


      <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
      <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.css') }} />
      <link rel="stylesheet" href="{{url_for('static', filename="css/style.css")}}">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../static/custom.css">


      <script src="/scripts/jquery.min.js"></script>
      <script src="/scripts/bootstrap.min.js"></script>
      <script type="text/javascript" src="/scripts/jquery.cookie.min.js"></script>
      <script type="text/javascript" src="/scripts/module.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


      <meta name="google-signin-scope" content="profile email">
      <meta name="google-signin-client_id" content="1043370717486-d1u09qdnl197q5ne8hno04i5pf82tv2t.apps.googleusercontent.com">
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <link rel="stylesheet" href="widthhttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

      <style>
.navbar {
    border-bottom: 2px white !important;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;
} 
.navbar-brand {
    color: black !important;
}
.you{
    width: 100px;
    height: 100px;
    background-color: orange;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: white;}
    to {background-color: orange;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: white;}
    to {background-color: orange;}
}
</style>

</head>
<body style="background:  linear-gradient(-90deg,white,lightblue); width:100%; height: 100%; padding-bottom:300px; ">

  
<script>
function onSignIn(googleUser) {
         // Useful data for your client-side scripts:
         var profile = googleUser.getBasicProfile();
         var name = profile.getName();
         var mail = profile.getEmail();
         console.log("ID: " + profile.getId()); // Don't send this directly to your server!
         console.log('Full Name: ' + profile.getName());
         console.log('Given Name: ' + profile.getGivenName());
         console.log('Family Name: ' + profile.getFamilyName());
         console.log("Image URL: " + profile.getImageUrl());
         console.log("Email: " + profile.getEmail());

         // The ID token you need to pass to your backend:
         var id_token = googleUser.getAuthResponse().id_token;



         console.log("ID Token: " + id_token);
         window.location.href="/sign/"+name+"/"+mail;
       };
</script>

  <nav class="navbar navbar-light navbar-fixed-top" style=" margin-top: 50px; background-color:linear-gradient(-90deg,white,orange)">
    <div class="container-fluid">
              <div class="navbar-header" class="col-sm-2 navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" style="background-color:lightblue ">
             <a class="navbar-brand" style="color: black;background: lightblue ;border-radius: 10px;border:2px solid black ;font-size: 20px; margin-left: -350px" href="/">eCourses</a>
      </div>

      {% if not session.logged_in %}

      <!-- <ul class="nav navbar-nav navbar-right"> -->

        <a href="/signup"><span class="glyphicon glyphicon-user" ></span><strong><h2 style="color: black">SignUp</h2></strong></a>
        <a href="/login"><span class="glyphicon glyphicon-log-in"></span><b><h2 style="color: black">Login</h2></b></a>

      <!-- </ul> -->

      {% else %}

      <ul class="nav navbar-nav navbar-right" style="background-color: lightblue">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" style="color: #4d2600; font-size: 20px; margin-left: 50px" href="#">{{session.log_email}}
            
              </a>

              <ul class="dropdown-menu" style="font-size: 20px">

                <li class="dropdown-list">
                  <a href="/forums">Forums</a>
                </li>

                <li class="dropdown-list" style="font-size: 20px">
                  <a href="/userdetails">Your details</a>
                </li>

                <li class="dropdown-list" style="font-size: 20px">
                  <a href="/logout">Logout</a>
                </li>

                
              </ul>
            </li>
        </ul>

      {% endif %}
    </div>
  </div>
  </nav>

  <div class="container">
    {% block body %}
    {% endblock %}
  </div>

</body>
</html>
