{% extends "layout.html" %}
{% block body %}

<div class="well">
	<form action="{{ url_for('python') }}" method="post" style = "background-color:lightblue">
		<div class="col-md-4">
			
		</div>
		<div class="col-md-8">
			<!-- <div class="container"> -->
				<div class="row well">
					<h1>START LESSON 1</h1>
					<center>
						<video width = "500" height = "300" controls="controls">
				       		<source src={{ url_for('static', filename='Lesson1.mp4') }} type = "video/mp4"/></source>
				        	This browser doesn't support video tag.
				      	</video>
				    </center>
				</div>
			<!-- </div> -->
			<center>
				<br><br>
				<textarea rows="5" cols="50" name="blog_Title" placeholder="Enter blog title here..."></textarea>
				<br><br>
				<textarea rows="10" cols="50" name="blog_Message" placeholder="Enter blog message here..."></textarea>
				<br><br>
				<input type="submit">
				<br><br>
			</center>
		</form>
	</div>
</div>
{% endblock %}