{% extends "layout.html" %}
{% block body %}
<br>
<br>
<br>
<div class="row col-md-12 well" style="background: linear-gradient(-90deg,purple, lightpink);">
	<h2><center>Your details</center></h2>
</div>	
<div class="row col-md-12 well" style="font-size: 20px; background: linear-gradient(-90deg, blue,lightblue);">
	<p>Name: {{customer.name}}</p>
	<!-- <p>Email address: {{customer.email}}</p>
	<p>Contact number: {{customer.phone}}</p> -->
</div>
<div class="row col-md-12 well" style="font-size: 20px; background: linear-gradient(-90deg, blue,lightblue);">
	<!-- <p>Name: {{customer.name}}</p> -->
	<p>Email address: {{customer.email}}</p>
	<!-- <p>Contact number: {{customer.phone}}</p> -->
</div>
<div class="row col-md-12 well" style="font-size: 20px; background: linear-gradient(-90deg, blue,lightblue);">
	<!-- <p>Name: {{customer.name}}</p> -->
	<!-- <p>Email address: {{customer.email}}</p> -->
	<p>Contact number: {{customer.phone}}</p>
</div>
{% endblock %}